.brands-slider {
  @apply bg-primary-yellow py-[40px] px-[24px] w-full overflow-hidden flex items-center ;
  @apply md:mt-[60px];
}

.brands-slider__container {
  @apply bg-primary-yellow h-full flex items-center shrink-0 gap-[5px] md:gap-[50px] 2xl:gap-[100px] animate-[slideSmall_15s_linear_infinite] md:animate-[slideMedium_15s_linear_infinite] 2xl:animate-[slideLarge_15s_linear_infinite];
  @apply xl:max-w-[1000px] 2xl:max-w-[1200px];
}

@keyframes slideLarge {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-50% ));
  }
}
@keyframes slideMedium {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-50% ));
  }
}
@keyframes slideSmall {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-50%));
  }
}

.brands-slider__image {
  @apply md:w-auto lg:w-[100px] xl:w-auto;
}
