.brands-slider {
    @apply bg-primary-yellow py-[40px] px-[24px] w-full overflow-hidden;
  }
  
  .brands-slider__container {
    @apply flex shrink-0 items-center gap-4;
    animation: slideSmall 15s linear infinite;
  }
  
  @keyframes slideSmall {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  .brands-slider__image {
    @apply md:w-auto lg:w-[100px] xl:w-auto;
  }
  